*{
	margin: 0;
}

@font-face {
	font-family: 'InterTight'; 
	src: url('../fonts/Inter-Light.ttf'); 
}
 
@font-face {
	font-family: 'Sofia'; 
	src: url('../fonts/OpenSans-Light.ttf'); 
}

@font-face {
	font-family: 'Tektur'; 
	src: url('../fonts/TekturNarrow-ExtraBold.ttf'); 
}

body{
	background: #111112;
	color: #fff;
}

.prototype{
    float: right;
    margin-right: 2vw;
    border: solid #fff 4px;
    width: 30vw;
    height: 60vh;
    margin-top: 6vw;
    padding: 2vw;
}

.prototype h1{
    margin-top: 3.5vw;
}

.logotype{
    float: left;
    margin-left: 2vw;
    margin-top: -3vw;
}

.underline-one {
	color: #96abb3; /* Цвет обычной ссылки */
    position: relative;
    cursor: pointer;
    text-decoration: none; /* Убираем подчеркивание */
}
.underline-one:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 4px; /* Высота линии */
    background-color: rgb(115, 199, 255); /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}

.underline-one:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 4px; /* Высота линии */
    background-color: rgb(115, 199, 255); /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */
}

.logo_podtext{
	font-family: 'Sofia';
    text-align: center;
    padding: 2px;
    font-size: calc(30px + 1.82vw);
}

.header{
    overflow: hidden;
    background: #171717;
}

.logo{
    width: calc(2px + 1vw);;
    vertical-align:middle;
    margin: 0.6vw 1vw 0vw 1.2vw;
}   

.soc{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 50%;
}

.youtube{
    width: 1vw;
    min-width: 40px;
    margin-right: 10px;
}

.vk{
    width: 1vw;
    min-width: 40px;
    margin-right: 5px;
}

.tg{
    width: 1vw;
    min-width: 40px;
    margin-right: 10px;
}

.download {
    font-family: 'Sofia';
    font-size: calc(4px + 2vw);
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border: solid #fff 4px;
    text-align: center;    
    transition: 0.3s;
    display: table; margin: 6vh auto;
  }

  .download:hover {
    background-color: #fff;
    color: #171717;
    transition: 0.3s;
  }

.header{
    overflow: hidden;
}

.logo_text{
	font-family: 'Tektur'; 
	font-size: calc(2px + 2vw);
    display: inline-block;
    vertical-align:middle;
    margin-top: 0.6vw;
}

.header_right{
    float: right;
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 1vw;
}

.header_right a{
	font-family: 'InterTight'; 
	font-size: calc(2px + 1vw);
    margin: 1vw 7px;
    text-decoration: none;
    padding: 8px 25px;
    color: #aaaaae;
    transition: 0.2s;
}

.header_right a:hover{
    color: #ffffff;
    border-radius: 6px;
    background: #303030; /*#2c2c2c*/
    transition: 0.2s;    
}

.about{
    font-family: "Sofia";
    font-size: calc(1px + 2vw);
    position: relative;
    width: 50vw;
    float: left;
    margin: 4vw 3vw;
}

.about a{
    color: rgb(115, 199, 255);
    text-decoration: none;
    transition: 0.2s;
}

.about a:hover{
    color: rgb(225, 243, 255);
    transition: 0.2s;
}

.news{
    font-family: "Sofia";
    #background: #18181A;
    margin: 30px auto;
    display:block;
    width: 90vw;
    height: 50vh;
    border-bottom: 2px solid #fff;
}

.news h1, .parallax h1{
    color: #fff;
    font-size: calc(8px + 4vw);
    padding: 5px 20px;
    margin-left: 10px;
}

.news a{
    text-decoration: none;
    color: #fff;
}

.more a{
    font-size: calc(8px + 1vw);
    text-decoration: underline;
    transition: 0.2s;
}

.more a:hover{
    color: rgb(115, 199, 255);
    transition: 0.2s;
}

.news p{
    font-size: calc(8px + 1vw);
    padding: 5px 20px;
    margin-top: 4vh;
    color: #fff;
}

.news img{
    height: 45vh;
    float: left;
    #border-radius: 30px 0 0 0;
    margin-right: 7vw;
}

.content{
    font-family: "Sofia";
    display:block;
    width: 80vw;
    margin: 0 auto;
}

.content img{
    width: 60vw;
    border-radius: 30px;
    margin: 1vh auto;
    display:block;
}

.content p{
    font-size: calc(8px + 1vw);
    padding: 40px 20px;
    margin-top: 2vh;
    color: #fff;
}

.parallax h1{
    font-family: "InterTight";
    text-align: center;
    font-size: calc(8px + 8vw);
    padding-top: 20vh;
}

#disqus_thread{
    width: 80vw;
    margin: 6vh auto;
}

.home{
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    transition: 0.5s;
}

.home:hover{
    filter: drop-shadow(0 0 0.75rem rgb(115, 199, 255));
    transition: 0.5s;
}

.error h1{
    font-family: "InterTight";
    text-align: center;
    font-size: calc(8px + 8vw);
    padding-top: 8vh;
}

.error p{
    font-size: calc(8px + 4vw);
    padding: 40px 20px;
    margin-top: 4vh;
    text-align: center;
    color: #fff;
}