{% extends "base.html" %}
{% load static %}

{% block title %}Epic hero - главная{% endblock %}



{% block content %}

<div class="about"><h1>Epic hero - студия разработки игр</h1><br><p>Мы позиционируем себя как группу независимых студентов, мотивированных желанием создавать
игры. На этой странице вы можете <a href="news/">прочитать новости студии</a>, <a href="https://www.tinkoff.ru/rm/shrayner.ilya1/DhHzh84188">поддержать нас</a>, <a href="/download/">ознакомиться с прототипом основной игры</a> или <a href="games/">посмотреть остальные.</a></p> </div>

<div class="prototype">
	<h1 class="logo_podtext">Попробуйте альфа версию <br><a href="#" class="underline-one">Aiven`s story</a></h1>
		
	<a href="/download/" class="download">download</a>
</div>

<div class="soc">
	<a href="https://youtube.com/@epic_hero"><img src="{% static 'img/youtube.svg' %}" alt="youtube" class="youtube"></a>
	<a href="https://vk.com/public219629759"><img src="{% static 'img/vk.svg' %}" alt="vk" class="vk"></a>
	<a href="https://t.me/epichero_dev"><img src="{% static 'img/telegram.svg' %}" alt="telegram" class="tg"></a>
</div>

{% endblock %}